<div class="background">
  <div class="container">
    <!-- music being player container-->
    <div class="music-player-container">
      <div class="title">Now Playing</div>

      <!-- music title -->
      <div class="music-playing-title">{{ currentSong.songName }}</div>

      <!-- image of music being played -->
      <img class="music-image cdThump" [src]="currentSong.imgURL" />
      <audio class="audio"></audio>
      <!-- music controller -->
      <div class="music-controller">
        <mat-icon (click)="replaySong()">replay</mat-icon>

        <mat-icon (click)="nextSongClick()">skip_previous</mat-icon>

        <mat-icon *ngIf="!isPlaying" (click)="musicControl()"
          >play_circle_outline</mat-icon
        >
        <mat-icon *ngIf="isPlaying" (click)="musicControl()"
          >pause_circle_outline
        </mat-icon>

        <mat-icon (click)="previousSongClick()">skip_next</mat-icon>

        <mat-icon *ngIf="!isRepeat" (click)="repeatSongClick()"
          >repeat</mat-icon
        >
        <mat-icon *ngIf="isRepeat" (click)="repeatSongClick()"
          >repeat_one</mat-icon
        >
      </div>

      <!-- music progress bar -->

      <input
        type="range"
        min="1"
        max="100"
        name="CurrentSongTime"
        ngModel
        (change)="selectSongTime()"
        [(ngModel)]="currentSongTime"
        class="slider"
      />
    </div>

    <!-- music list container -->
    <div class="music-list-container">
      <!-- song -->
      <div class="song-container" *ngFor="let song of songs; let i = index">
        <!-- container of song image and song info (to click without affecting 3 dots) -->
        <div class="song-info-container" (click)="selectSong(i)">
          <!-- song image -->
          <img class="music-image" [src]="song.imgURL" />

          <!-- song info -->
          <div class="song-info">
            <!-- song name -->
            <div class="song-name">{{ song.songName }}</div>
            <!-- singers / band -->
            <div class="singer-name">{{ song.singer }}</div>
          </div>
        </div>

        <!-- icon 3 dots -->
        <mat-icon
          class="song-menu"
          id="songMenuDropDownBtn"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >more_horiz</mat-icon
        >

        <ul
          class="dropdown-menu dropdown-menu-end song-meu-dropdown"
          aria-labelledby="songMenuDropDownBtn"
        >
          <li><a class="dropdown-item" (click)="setCurrentSong(i)">Play</a></li>
          <li><a class="dropdown-item" (click)="deleteSong(i)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
